MISTRAL_API_KEY=y5n........
API_AUTH_TOKEN=supersecretapitoken
FLASK_ENV=development
FLASK_HOST=localhost
FLASK_PORT=5000
USE_REDIS=0
REDIS_URL=redis://localhost:6379/0 # required if USE_REDIS=1
# REDIS_URL=redis://username:password@host:port/0 # redis cloud example
# example: REDIS_URL=redis://default:abcde********@redis-17100.c85.us-east-1-3.ec2.cloud.redislabs.com:17100/0
LLM_TEMPERATURE=0.7
